:root {
    --color-body: #272727;
    --color-white: #ffffff;
    --color-blue: #0e67f5;
    --color-dark-blue: #184bc8;
    --color-light-blue: #609dff;
    --color-red: #ff2e2e;
    --color-dark-red: #eb0f0f;
    --color-orange: #ffa500;
    --color-pink: #ff7df2;
    --color-purple: #c100c5;
    --color-green: #93ff8a;
    --color-tomato: #ff6969;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Typography */
html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    /* detected font weights (desktop version) -> 300, 400, 500, 700, */
    font-family: "Ubuntu", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--color-body);
}

h1 {
    font-size: 6rem; /* lets say this is for the biggest thing we dont know is in the site*/
}

h2 {
    font-size: 3rem; /* lets say h2 is the white text in the colorful boxes*/
}

h3 {
    font-size: 2.2rem; /* lets say h3 is for slightly important stuff like nav items and user names*/
}

p {
    font-size: 2rem; /* say the p is for shit in the boxes against icons or basically the smaller font stuff*/
}

a {
    text-decoration: none;
    color: var(--color-body);
}

@media screen and (max-width: 768px) {
    /* detected font weights (mobile version) -> 300, 400, 500, 700, */
    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
    p {
        font-size: 1.2rem;
    }
}

/* Buttons */
.btn {
    height: 5rem;
    width: 10rem;
    padding: 0;
    text-align: center;
    border-radius: 1rem;
}

.btn--add {
    background-color: var(--color-blue);
    color: var(--color-white);
    border: none;
}
.btn--add::after {
    content: " +";
    font-size: 2.6rem;
}

.btn--search {
    background-color: transparent;
    border: none;
}

/* Navigation Bar */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem;
}

.nav__list {
    list-style: none;
    padding-left: 0;
    flex-grow: 0.5;
    flex-shrink: 0.5;
}

.nav__list .nav__item {
    display: inline-block;
    margin-right: 2rem;
}

.nav__user {
    display: flex;
    flex-direction: row;
    column-gap: 3rem;
}

.nav__login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav__img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.user__arrow {
    font-size: small;
    color: black;
}

/* Hero */
.hero {
    background-image: url("../images/banner_back_ground.png");
    height: 80rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.hero__image {
    position: absolute;
}

.hero__image--like {
    width: 46rem;
    height: 46rem;
    top: 18rem;
    left: 0rem;
}

.hero__image--dislike {
    width: 42rem;
    height: 42rem;
    top: 0rem;
    left: 104rem;
}

.hero__circle {
    border-radius: 50%;
    position: absolute;
}

.hero__triangle {
    width: 0;
    height: 0;
    position: absolute;
}

.circle--blue--1 {
    background-color: var(--color-dark-blue);
    width: 49rem;
    height: 49rem;
    top: 17rem;
    left: -25rem;
}

.circle--blue--2 {
    background-color: var(--color-dark-blue);
    width: 20rem;
    height: 20rem;
    top: 0rem;
    left: 61rem;
}

.triangle--blue--1 {
    transform: rotate(45deg);
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 13rem solid var(--color-dark-blue);
    top: 38rem;
    left: 38rem;
}

.triangle--red--1 {
    transform: rotate(-90deg);
    border-left: 7rem solid transparent;
    border-right: 7rem solid transparent;
    border-bottom: 13rem solid var(--color-dark-red);
    top: 10rem;
    left: 100rem;
}

.circle--red--1 {
    background-color: var(--color-dark-red);
    width: 12rem;
    height: 12rem;
    top: 61rem;
    left: 67rem;
}

.circle--red--2 {
    background-color: var(--color-dark-red);
    width: 27rem;
    height: 27rem;
    top: 39rem;
    left: 135rem;
}

.hero__text1 {
    font-weight: 700;
    font-size: 15rem;
    color: var(--color-white);
    position: absolute;
    top: 5rem;
    left: 18rem;
    margin: 0;
}

.hero__text1::after {
    content: "G";
    color: var(--color-dark-red);
}

.hero__text2 {
    font-weight: 700;
    font-size: 15rem;
    color: var(--color-white);
    position: absolute;
    top: 50rem;
    left: 72rem;
    margin: 0;
}

.hero__text2::after {
    content: "G";
    color: var(--color-dark-blue);
}

/* Search Bar */
.search-bar-container {
    max-width: 45rem;
    border: 2px solid var(--color-white);
    text-align: center;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    border: none;
    background-color: transparent;
    padding: 3rem 0 3rem 4rem;
    color: var(--color-white);
}

.search-bar::placeholder {
    color: var(--color-white);
    font-size: 3rem;
    font-weight: 400;
}

.btn--search .fa-search {
    font-size: 3rem;
    color: var(--color-white);
    padding-right: 2rem;
}

/* This is to scale the background png appropraitely for larger screens */
@media screen and (min-width: 1400px) {
    .hero {
        background-size: cover;
    }
}
