<nav class="nav">
    <a class="nav__brand" href="#"
        ><img src="images/logo.png" alt="hug-or-shrug logo"
    /></a>
    <ul class="nav__list">
        <li class="nav__item"><a href="#">Categories</a></li>
        <li class="nav__item"><a href="#">Users</a></li>
        <li class="nav__item"><a href="#">Hugs</a></li>
        <li class="nav__item"><a href="#">Shrugs</a></li>
    </ul>
    <div class="nav__user">
        <button class="btn btn--add nav__btn">ADD</button>
        <div class="nav__login">
            <img
                class="nav__img"
                src="images/nav_user_image.png"
                alt="user currently logged in"
            />
            <i class="user__arrow fa fa-chevron-down"></i>
        </div>
    </div>
</nav>
