<section class="hero">
    <div class="hero__circle circle--blue--1"></div>
    <div class="hero__circle circle--blue--2"></div>
    <div class="hero__triangle triangle--blue--1"></div>
    <div class="hero__triangle triangle--red--1"></div>
    <div class="hero__circle circle--red--1"></div>
    <div class="hero__circle circle--red--2"></div>
    <img
        class="hero__image hero__image--like"
        src="images/3d_like_facebook.png"
        alt="3d like icon"
    />
    <img
        class="hero__image hero__image--dislike"
        src="images/3d_dislike_buisnessman.png"
        alt="3d dislike icon"
    />
    <h1 class="hero__text1">HU</h1>
    <h1 class="hero__text2">SHRU</h1>
    <div class="search-bar-container">
        <input class="search-bar" type="text" placeholder="E-mail" />
        <button class="btn btn--search">
            <i class="fa fa-search"></i>
        </button>
    </div>
</section>
