<div class="users__container">
    <div class="user-element">
        <img
            class="user__image"
            src="images/person_1.jpeg"
            alt="person 1 picture"
        />
        <p class="user__name">James Fred</p>
        <div class="user__preference-record">
            <div class="user__likes">
                <i class="fa fa-thumbs-up"></i><span>9</span>
            </div>
            <div class="user__dislikes">
                <i class="fa fa-thumbs-down"></i><span>1</span>
            </div>
        </div>
    </div>
</div>

<div class="user-element selected">
    <img class="user__image" src="images/person_4.png" alt="person 1 picture" />
    <p class="user__name">Mark Great</p>
    <div class="user__preference-record">
        <div class="user__likes">
            <i class="fa fa-thumbs-up"></i><span>11</span>
        </div>
        <div class="user__dislikes">
            <i class="fa fa-thumbs-down"></i><span>8</span>
        </div>
    </div>
</div>
